
<h1>Image Save</h1>

<form asp-controller="home" asp-action="ImageSave" method="post" enctype="multipart/form-data">
    <input type="file" name="formFile" /> 
    <button type="submit">Save</button>
</form>

<h1>Video Save</h1>
<form asp-controller="home" asp-action="VideoSave" method="post" enctype="multipart/form-data">
    <input type="file" name="videoFile" />
    <button type="submit">Save</button>
</form>